<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información POSTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar por usuario" (ionChange)="buscarElemento($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let elemento of elementos; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text><p>
                {{elemento.title}}
              </p></ion-text>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-text><p>
              {{elemento.body}}
            </p></ion-text>
           
          </ion-card-content>
<ion-button expand="full" fill="outline" (click)="modificiar(elemento)">Modificar</ion-button>
        </ion-card>
        

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button expand="full"  (click)="modificar()">Añadir</ion-button>
</ion-footer>
