ion-card{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
p{
  text-align: justify;
}
ion-button{
  display: block;
  margin: auto;
  width: 75%;
  margin-bottom: 10px;
}
ion-title{
  display: block;
  margin: auto;
}